[submodule "thirdparty/glad"]
    path = thidrparty/glad
    url = git@github.com:Dav1dde/glad.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = git@github.com:g-truc/glm.git
[submodule "thirdparty/googletest"]
	path = thirdparty/googletest
	url = git@github.com:google/googletest.git
[submodule "thirdparty/assimp"]
	path = thidparty/assimp
	url = git@github.com:assimp/assimp.git